asttokens 
colorama 
comm 
contourpy 
cycler 
debugpy 
decorator 
exceptiongroup 
executing 
fonttools 
ipykernel 
ipython 
jedi 
joblib 
jupyter_client 
jupyter_core 
kiwisolver 
matplotlib 
matplotlib-inline 
nest-asyncio 
numpy 
packaging 
pandas 
parso 
pillow 
platformdirs 
prompt_toolkit 
psutil 
pure_eval 
Pygments 
pyparsing 
python-dateutil 
pytz 
pywin32 
pyzmq 
scikit-learn 
scipy 
six 
stack-data 
threadpoolctl 
tornado 
traitlets 
typing_extensions 
tzdata 
wcwidth